@model GYMONE.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<link rel="stylesheet" href="~/css/login.css" />
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                
               @using (Html.BeginForm())
               {
                @Html.AntiForgeryToken()
                    <h4>Login</h4>
                    <div id="divMessage">
                        @Html.ValidationSummary()
                    </div>

                    @Html.TextBoxFor(u => u.Username, new { @class = "form-control input-sm chat-input", autocomplete = "off", placeholder="Username" })
                    @*@Html.ValidationMessageFor(u => u.Username)*@
                    @Html.PasswordFor(p => p.Password, new { @class = "form-control input-sm chat-input", autocomplete = "off", placeholder = "Password" })
                    @*@Html.ValidationMessageFor(p => p.Password)*@
                    <div class="wrapper">
                        <input type="submit" class="btn btn-primary btn-md" name="btnLogin" value="Login" />
                    </div>
                }
            </div>
        </div>

    </div>
</div>



